.global-stats {
  border-top: 2px dotted rgba(50, 168, 123, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(50, 168, 123, 0.8);
  border-radius: 5px;
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.3);
}
.global-stats h1 {
  font-size: 1.8em;
}
.global-stats p {
  font-size: 1.2em;
  margin: 5px 0;
}
@media (min-width: 1440px) {
  .global-stats h1 {
    font-size: 2.5em;
  }
  .global-stats p {
    font-size: 1.5em;
    margin: 5px 0;
  }
}

.confirmed {
  color: #000;
}

.recovered {
  color: #000;
}

.deaths {
  color: #000;
}

i {
  color: rgba(50, 168, 123, 0.8);
}

option,
select {
  font-size: 16px;
}

select {
  background: transparent;
  border: 1px solid rgba(50, 168, 123, 0.8);
  display: block;
  margin: 0 auto;
  padding: 11px 0 10px;
  width: 80%;
}
@media (min-width: 768px) {
  select {
    display: inline;
  }
}

.country-stats {
  border-top: 2px dotted rgba(50, 168, 123, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 408px;
  overflow: hidden;
  padding-bottom: 20px;
}
.country-stats h1 {
  font-size: 1.8em;
}
.country-stats p {
  font-size: 1.2em;
  margin: 5px 0;
}
@media (min-width: 1440px) {
  .country-stats h1 {
    font-size: 2.5em;
  }
  .country-stats p {
    font-size: 1.5em;
    margin: 5px 0;
  }
}
.country-stats h1 {
  margin-bottom: 8px;
}
.country-stats span {
  margin-bottom: 8px;
  text-align: center;
}
.country-stats i {
  color: rgba(50, 168, 123, 0.8);
}
.country-stats button {
  background-color: #82d1b3;
  border-radius: 2px;
  font-size: 1.3em;
  display: block;
  margin: 10px auto;
  padding: 9px 10px;
  border: none;
  outline: none;
}
.country-stats button:hover {
  background-color: #73bfa2;
}
@media (min-width: 768px) {
  .country-stats button {
    display: inline;
    margin-left: 10px;
  }
}

.data-container {
  border-top: 2px dotted rgba(50, 168, 123, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  border: 2px solid rgba(50, 168, 123, 0.8);
  border-radius: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;
  box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.3);
}
.data-container h1 {
  font-size: 1.8em;
}
.data-container p {
  font-size: 1.2em;
  margin: 5px 0;
}
@media (min-width: 1440px) {
  .data-container h1 {
    font-size: 2.5em;
  }
  .data-container p {
    font-size: 1.5em;
    margin: 5px 0;
  }
}
.data-container ul {
  padding: 0;
  margin: 0 auto;
}
.data-container ul a {
  text-decoration: none;
  font-size: 1.4em;
  color: black;
}
.data-container ul a:first-of-type {
  margin-right: 10px;
}
.data-container ul a:hover {
  color: #eb512f;
}
@media (min-width: 660px) {
  .data-container {
    overflow-y: auto;
  }
}

.info-container {
  align-self: start;
}
.info-container h2,
.info-container p {
  margin: 8px 16px;
}
.info-container img {
  display: block;
  filter: invert(100%);
  margin: 0 auto;
  width: 150px;
}
.info-container a {
  color: crimson;
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 511px;
  gap: 15px;
  justify-content: center;
  padding-top: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
}
@media (min-width: 660px) {
  .container {
    grid-template-columns: 30% 60%;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 80%;
  }
}

/*# sourceMappingURL=app.css.map */
