@use 'variables';
@use 'mixins';

.data-container {
    @include mixins.stat-styles;
    display: grid;
    border: 2px solid variables.$component-border;
    border-radius: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    box-shadow: -1px 0px 4px rgba(0,0,0,0.3);
    ul {
        padding: 0;
        margin: 0 auto;
        a {
            text-decoration: none;
            font-size: 1.4em;
            color: black;
        }
        a:first-of-type {
            margin-right: 10px;
        }
        a:hover {
            color: variables.$deaths-color;
        }
    }
    @media (min-width: variables.$small-tablet) {
        overflow-y: auto;
    }

}