@use 'variables';
@use 'mixins';

.data-container {
    @include mixins.stat-styles;
    display: grid;
    border: 1px solid variables.$component-border;
    border-radius: 5px;
    // overflow-y: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    box-shadow: -1px 0px 4px rgba(0,0,0,0.3);
    // background-color: variables.$component-bg;
    ul {
        padding: 0;
        margin: 0 auto;
        a {
            text-decoration: none;
            font-size: 1.4em;
            color: black;
        }
        a:first-of-type {
            margin-right: 10px;
        }
        a:hover {
            color: variables.$deaths-color;
        }
    }
    @media (min-width: variables.$small-tablet) {
        overflow-y: auto;
    }

}

.data-container::-webkit-scrollbar-track {
    background-color: rgba(184, 188, 173, .8);
}

.data-container::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.data-container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}