@use 'variables';
@use 'mixins';

.global-stats {
    @include mixins.stat-styles;
    border: 2px solid variables.$component-border;
    border-radius: 5px;
    box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.3);
}

.confirmed {
    color: variables.$stat-color;
}

.recovered {
    color: variables.$stat-color;
}

.deaths {
    color: variables.$stat-color;
}

i {
    color: variables.$icon-color;
}