@use 'variables';
@use 'mixins';

.global-stats {
    @include mixins.stat-styles;
    background-color: variables.$component-bg;
}

.global-stats p {
    text-align: left;
}

.confirmed {
    color: variables.$confirmed-color;
}

.recovered {
    color: variables.$recovered-color;
}

.deaths {
    color: variables.$deaths-color;
}