@use 'variables';

@mixin stat-styles {
    // border-top: 2px dotted rgba(50, 168, 123, 0.2);
    border-top: 2px dotted #fcbbd4;
    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
        margin: 5px 0;
    }
    @media (min-width: variables.$desktop) {
        h1 {
            font-size: 2.5em;
        }

        p {
            font-size: 1.5em;
            margin: 5px 0;
        }
    }
}
