// VARIABLES

// Color Variables
$component-bg: rgba(184, 188, 173, .8);
$confirmed-color: #f2d724;
$recovered-color: #4bd14e;
$deaths-color: #eb512f;

// Font Variables
$open-sans-font: 'Open Sans', sans-serif;

// Media Queries
$desktop: 1440px;
$tablet: 768px;
$small-tablet: 660px;
$medium-mobile: 375px;
$small-mobile: 340px;