// VARIABLES

// Color Variables
$component-border: rgba(50, 168, 123, .8);
$confirmed-color: #f2d724;
$recovered-color: #4bd14e;
$deaths-color: #eb512f;
$icon-color: rgba(50, 168, 123, .8);

$stat-color: #000;
// $recovered-color: #000;
// $deaths-color: #000;

// Font Variables
$open-sans-font: 'Noto Sans', sans-serif;

// Media Queries
$desktop: 1440px;
$tablet: 768px;
$small-tablet: 660px;
$medium-mobile: 375px;
$small-mobile: 340px;