@use 'variables';
@use 'globalStats';
@use 'search';
@use 'countryStats';
@use 'container';
@use 'info';
@use 'mediaQueries';

body {
    // background: url('https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    // box-sizing: border-box;
    background-color: #fff;
    font-family: variables.$open-sans-font;
    text-shadow: 1px 1px black;
    // height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    height: 511px;
    gap: 15px;
    justify-content: center;
    padding-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;

    @media (min-width: variables.$small-tablet) {
        grid-template-columns: 30% 60%;
    }
    @media (min-width: variables.$desktop) {
        width: 80%;
    }
}
