@use 'variables';
@use 'globalStats';
@use 'search';
@use 'countryStats';
@use 'container';
@use 'info';

body {
    background-color: #fff;
    font-family: variables.$open-sans-font;
    margin: 0;
    padding: 0;
    
    img {
      max-height: 250px;
      width: 100%;
    }
}